h1 {font-family: 'Roboto';
    font-size: : 100px;
    color: black;
    width: 350px;
    float: left;}

h2 {font-family: 'Roboto';
    font-size: 25px;
    color: #5d5e5d;
    }

h3 {
    font-family: 'Roboto';
    font-size: 20px;
    color: #5d5e5d;
        }

body {background-color: #cbf78a;}

p {font-family: "Roboto" ;
    font-size: 15px;
    }

.container-fluid  {padding:70px;
                  background-color: white;}



.top {
      width:1200px;
      margin:20px;
      padding:2px;
}



#logo {
      font-family: "Roboto";
      width: 350px;
      font-size: 20px;
      color: #5d5e5d;
      display: block;
      padding: 10px;
      float: left;
}

#staff-pick {
      padding-left:30px;
      background-color:none;
      text-align: center;
      padding:20px;

}
.card mb-4 box-shadow {padding: 15px;}


.button1 {
      background-color: white;
      color: #ff87e5;
      border: 2px solid #ff87e5; /* Pink */;
      border-radius: 25px;
      padding: 10px  40px;
      margin: 15px auto;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}

.button2 {
      background-color: white;
      color: #ff87e5;
      border: 2px solid #ff87e5; /* Pink */;
      border-radius: 25px;
      padding: 10px  40px;

      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      margin: 5px;
}


.card {

  padding: 0 0 22px 0;
  min-height: 400px;
  height: auto;
      text-align: center;

}

.card-text {
  min-height: 75px;
}

.card-title,
.card-text {
  text-align: left;
}

.card-text {
  margin-bottom: 20px;
}



.button1:hover {
      text-decoration: none;
      background-color: #ff87e5;
      color: white;
}

.button2:hover {
      text-decoration: none;
      background-color: #ff87e5;
      color: white;
      margin: 5px;
}

li {
      display: inline;
      }

li a {
        font-family: "Roboto";
        font-size: 18px;
        color: #5d5e5d;
        display: block;
        padding: 10px;
        margin: 10px;
        display: inline;
        }



.wrapper {
      width: 620px;
      height: 310px;
      margin: 40px;
      padding: 0px,10px,10px,0px;
      border: none;
    }

.box {

      width: 290px;
      height: 280px;
      margin: 0;
      padding: 6px 6px;
      font: 35px "Roboto", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.boxLeft {
      float: left;
      outline-width: thin;
      color: #5d5e5d;
    }

.boxRight {
      float: right;
      outline-width: thin;
      color: #5d5e5d;
      border: 2px;
    }

.card  {
        margin: 40px;
        background-color: white;
        width: 300px;
        height: 300px;
        padding: 10px;

        }

.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;

    }
